#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section.section1 {
  background-image: url(../public/div.sc-2b1c5c79-0.png);
  background-size: cover;
  width: 90rem;
  height: 20rem;
  margin: auto;
}

section.section1 .text {
  color: white;
  font-size: xx-large;
  padding-top: 1rem;
}

section.section1 .text p {
  font-size: large;
  margin-top: -2rem;
}

.container {
  font-size: large;
  position:relative;
  width: 60rem;
  margin-left: 45rem;
  margin-top: -7rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

.container .content .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .box .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .content .box .form label {
  margin-bottom: 5px;
  margin-right: 10rem;
}

.container .content .box .form input {
  width: 12rem;
  height: 2rem;
  margin-right: 2rem;
}

.container .content .box .switch span{
  border: 2px solid black;
  border-radius: 5rem;
  margin:2rem 2rem 0 0 ;
  cursor: pointer;
} 

.container .content .box select {
  width: 20rem;
  height: 2rem;
  margin-right: 2rem;
}

.content .display{
  margin-left: -30rem;
  font-size:larger;
}

.content .display p{
  color: rgba(10, 20, 110, 1);
  text-align: start;
  margin-left: 30rem;
}

.container .content .small-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
  margin-left: -1rem;
}

.container .content .small-container p {
  background-color: rgb(232, 246, 250);
  text-align: left;
  padding: 1rem;
  font-size: small;
  width: 35rem;
  display: flex;
}

.container .content .small-container p span{
  margin: .5rem;
}
.container .content .small-container button {
  background-color: rgba(71, 46, 114, 1);
  color: white;
  cursor: pointer;
  padding: 0.9rem;
  border-radius: 8px;
  margin-left: 13rem;
  width: 10rem;
}

section.section2 {
  background-color: rgb(224, 223, 223);
  padding-top: 2rem;
  width: 90rem;
  margin: auto;
}

section.section2 .boxes h3 {
  color: rgba(10, 20, 110, 1);
  text-align: center;
}

section.section2 .boxes .images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
}

section.section2 .boxes .images img {
  width: 18rem;
  margin-right: 4rem;
}

section.section2 .last .images {
  padding: 3rem 0;
  margin-left: 10rem;
}

section.section2 .last .images img {
  margin-right: 10rem;
}
